<div class="column-feed">
    <ul>
        <li><a href="index.php?{{ $feedbasequery }}">All feed</a></li>
        <li><a href="index.php?feed=fav">Favourites (<span id="nbfav">{{ $nbfav }}</span>)</a></li>
    </ul>
    <ul>
        {% foreach($feeds as $feed): %}
            <li>
                <a href="?{{ $feedbasequery }}&feed={{ $feed['id'] }}">{{{ $feed['title'] }}}</a>
                <a class="delete-link" href="?action=delete&id={{ $feed['id'] }}">Delete</a>
            </li>
        {% endforeach; %}
    </ul>
    <div class="center">
        <button onclick="updateFeeds()">Update feed</button>
    </div>
    <details>
        <summary>Add feed</summary>
        <form class="add-feed-form" action="?action=addfeed" method="post">
            <label for="feedurl">URL: </label><input name="feedurl" id="feedurl" /><br>
            <label for="feedtitle">Title: </label><input name="feedtitle" id="feedtitle" /><br>
            <input type="submit" value="Add feed" />
        </form>
    </details>
</div>