{% extends ../src/templates/layout.html %}

{% block title %}Simple&Stupid RSS{% endblock %}
{% block navbar %}
<nav>
    <a href="index.php?{{ $readbasequery }}">Show unread</a>
    <a href="?{{ $readbasequery }}&read">Show read</a>
    <a href="?{{ $readbasequery }}&all">Show all</a>
    <a href="?{{ $readbasequery }}&action=markallread">Mark all read</a>
    <a href="?action=logout">Logout</a>
</nav>
{% endblock %}

{% block content %}

<div class="row">
    {% include ../src/templates/feeds.html %}
    {% include ../src/templates/items.html %}
</div>

{% endblock %}