<div class="column-item">
    {% foreach($items as $item): %}
    <details id="{{ $item['id'] }}">
        <summary>
            {{ is_numeric($item['item_date']) ? date('Y-m-d H:i', $item['item_date']) : "Date unknown" }}
            / {{ $item['feed_title'] }} - {{ $item['title'] }}
            <span id="read-marker-{{ $item['id'] }}">
                {% if($item['read'] == 1): %}
                (read) <button onclick="markItemAsUnread({{ $item['id'] }})">unread</button>
                {% else: %}
                <button onclick="markItemAsRead({{ $item['id'] }})">read</button>
                {% endif; %}
            </span>
            <span id="fav-marker-{{ $item['id'] }}">
                {% if($item['favourite'] == 1): %}
                (fav) <button onclick="unfavItem({{$item['id']}})">unfav</button>
                {% else: %}
                <button onclick="favItem({{$item['id']}})">fav</button>
                {% endif; %}
            </span>
        </summary>
        {{ $item['content'] }}
        <div class="center"><a href="{{ $item['url'] }}">Permalink</a></div>
    </details>
    {% endforeach; %}

    <div class="center">
        {% if($numpage > 1): %}
        <a href="index.php?{{ $pagebasequery }}">&lt;&lt;</a>
        <a href="index.php?{{ $pagebasequery }}&page={{ $numpage - 1 }}">&lt;</a>
        {% endif; %}
        {{ $numpage }}
        {% if($numpage < $lastpage): %}
        <a href="index.php?{{ $pagebasequery }}&page={{ $numpage + 1 }}">&gt;</a>
        <a href="index.php?{{ $pagebasequery }}&page={{ $lastpage }}">&gt;&gt;</a>
        {% endif; %} 
    </div>