<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>{% yield title %}</title>
</head>
<script type="text/javascript" src="main.js" defer></script>

<body>
    <header>
        <h1><a href="index.php">Simple&Stupid RSS</a></h1>
        {% yield navbar %}
        <hr width="50%">
    </header>

    <main>
        {% yield content %}
    </main>

    <footer>
        <hr width="500px">
        Copyleft blchrd - 2023<br>
        <a target="_blank" href="https://framagit.org/blchrd/simple-stupid-rss">Source code</a>
    </footer>
</body>

</html>