{% extends ../src/templates/layout.html %}

{% block title %}Simple&Stupid RSS{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}

<div class="center">
    {% if(isset($install) && $install): %}
    <h2>Installation</h2>
    {% else: %}
    <h2>Login</h2>
    {% endif; %}

    <form action="?action=login" method="post">
        <label for="username">Username: </label><input name="username" id="username" /><br>
        <label for="password">Password: </label><input type="password" id="password" name="password" /><br>
        <input type="submit" />
    </form>
</div>

{% endblock %}