body {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
}

nav {
  margin-bottom: 10px;
}

header {
  height: 75px;
  text-align: center;
  padding-bottom: 15px;
}

ul {
    list-style: none;
}

header h1 a {
    color: inherit;
    text-decoration: none;
}

footer {
  height: 50px;
  text-align: center;
}

.column-item details {
  border: solid 2px;
  padding: 10px;
}

.column-feed details {
    padding: 10px 25px 10px 25px;
}

summary {
  font-size: medium;
  border-bottom: solid 1px;
  cursor: pointer;
}

.delete-link {
    font-size: small;
    color: red;
}

.center {
    text-align: center;
}

.update-link {
    font-size: small;
}

.row {
  display: flex;
}

.column-feed {
  font-size: medium;
  margin-right: 10px;
  border: solid 1px;
  flex: 25%;
}

.column-item {
  margin-right: 10px;
  max-width: 75%;
  flex: 75%;
}

.column-item details {
  margin-bottom: 10px;
}

.add-feed-form {
    margin-top: 10px;
    margin-left: 20px;
}